<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/bootstarp")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Aspect-ICT</a>
        <div class="navbar-collapse collapse" id="navbarColor01">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-link alert-primary">
                    @Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)
                </li>
                <li class="nav-item nav-link alert-danger">
                    @Html.ActionLink("API", "Index", "Help", new {area = ""}, null)
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div> 
    </nav>
</div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aspect-ICT Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
